---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import "./quick.css";
const albums = await getCollection("albums");
---

<Layout title="Tatas Photos.">
  <div class="p-8">
    <h1 class="text-5xl text-center my-8 text-neutral-200">G A L L E R Y</h1>
    <div class="mx-auto container grid grid-cols-2 gap-8">
      {
        albums.map((item) => (
          <a href={`/gallery/${item.id}`} class="group transition-all mb-8 block">
            <Image
              src={item.data.cover}
              alt={item.data.title}
              format="avif"
              width="1000"
              height="1000"
              quality="mid"
              class:list={["rounded-lg transition-all", "group-hover:shadow-lg group-hover:opacity-90"]}
            />
            <div class="mt-4 text-center text-neutral-200">
              <strong class="font-normal">{item.data.title}</strong>
              <p class="text-xs">{item.data.description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
