---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import "./quick.css";
const albums = await getCollection("albums");
---

<Layout title="Tatas Photos.">
  <div class="p-8">
    <h1 class="text-5xl text-center my-8 text-neutral-200">G A L L E R Y</h1>
    <div class="mx-auto container grid grid-cols-3 gap-4">
      {
        albums.map((item) => (
          <a href={`/tatanka/gallery/${item.id}`} class="group transition-all mb-2 block">
            <Image
              src={item.data.cover}
              alt={item.data.title}
              format="avif"
              quality="mid"
              height="683"
              width="1024"
              class="album-image"
            />
            <div class="mt-4 text-center text-neutral-200">
              <strong>{item.data.title}</strong>
              <p class="text-xs">{item.data.description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
